#email::-webkit-input-placeholder{
    color:#495057;
}
#nome::-webkit-input-placeholder{
    color:#495057;
}
#atividade::-webkit-input-placeholder{
    color:#495057;
}
#especifique::-webkit-input-placeholder{
    color:#495057;
}
#localArquivosRede::-webkit-input-placeholder{
    color:#495057;
}
#cardTrello::-webkit-input-placeholder{
    color:#495057;
}
#url::-webkit-input-placeholder{
    color:#495057;
}